/*  background-color: rgb(246, 144, 35); */
/* the background color for the navbar should be modified, logo should be refactored to be compatible
with the rest of elements in the navbar */
.header {
    height: 800px;
    
}

.header-video {
    position: absolute;
    /* height: 100%; */
    background-color: red;
    display: block;
    width: 100%;
}

.header .nav {
    background-color: #EBE3D5;
    padding: 7px;
    position: fixed;
    width: 100%;
    z-index: 4444;
    height: 70px;
}
.nav-item a {
    color: #776B5D;
    font-weight: bold;
}
.nav-item a:hover {
    color: #198cd8;

}
.logo-a {
    display: inline-block;
    height: 100px;
}

.header-logo {
    width: 80px;
    height: 58px;
}