/*  background-color: rgb(246, 144, 35); */
/* the background color for the navbar should be modified, logo should be refactored to be compatible
with the rest of elements in the navbar */

.header {
    /* min-height: 520px; */
    height: 130vh;
    position: relative;
    overflow: hidden;
    background-image: url("./background3.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.mobile-header-number {
    padding: 13px;
    color: rgb(246, 144, 35);
    text-decoration: none;
    cursor: pointer;
    direction: ltr;
    font-size: 25px;
    font-weight: 700;
    width: 220px;
    background-color: #f5bb00;
    margin-top: 2%;
    border-radius: 25px;
}

.header-txt {
    /* margin-top: 10%; */
    text-wrap: nowrap;
    /* margin: 10% 31%; */
}

.header-p {
    /* font-size: 23px; */
    /* margin-top: 9%; */
    color: white;
    /* width: 30%; */
    /* margin-left: 35%; */
    font-weight: 700;
    background-color: cadetblue;
    text-wrap: nowrap;
    font-size: 2.5vw;


}

.header-p2 {
    /* width: 42%; */
    /* margin-left: 29%; */
    font-size: 15px;
    font-weight: 700;
    border: 3px solid cadetblue;
    color: white;
    /* padding: 18px; */
    /* margin-top: 2%; */
    text-wrap: nowrap;
    font-size: 1.5vw;
}

.call-header-btn {
    color: black;
    background-color: #f5bb00;
    border: none;
}

.offCanvas-btn {
    width: 40px;
    height: 30px;
    background-color: #EBE3D5;
    border: none;

}


.header-img {
    position: absolute;
    background-color: red;
    display: block;
    width: 100%;
}

.header .nav {
    background-color: #EBE3D5;
    padding: 25px 20px 34px 20px;
    position: fixed;
    width: 100%;
    z-index: 444;
    height: 50px;
    min-height: 40px;
}

.header-nav {
    width: 625px;

}

.nav-item a {
    color: black;
    font-weight: 500;
    font-size: 15px;
    text-decoration: none;
    text-wrap: nowrap;
}

.nav-item a:hover {
    color: #198cd8;

}

.logo-a {
    display: inline-block;
    height: 100px;
}

.header-logo {
    width: 52px;
    /* height: 58px; */
}

.header-brand {
    padding-top: 0px;
}

